
.Rubrica
{
	font-size: 12px;
	color: #FF0000;
	font-family: Tahoma, Arial;
	text-decoration:none;
}

.Expressao
{
	font-size: 12px;
	color: #00FF00;
	font-family: Tahoma, Arial;
	text-decoration:none;
}

.TextoEspecial
{
	font-size: 12px;
	color: #FF0000;
	font-family: Tahoma, Arial;
	text-decoration:none;
}
